.box {
    /* Content dimensions */
    width: 200px;
    height: 100px;
  /* Padding around content */
  padding: 20px;
  
  /* Border around padding */
  border: 5px solid #333;
  
  /* Margin around border */
  margin: 30px;
  
  /* Additional styles for better visualization */
  background-color: #f4f4f4;
  }

.rounded-box {
    background-color: lightblue;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnXibs5nB1iuBTeDPdjZfPLh5kWI-3jRhoxpyx4QR4N4UJsO_x4fom1axD1BeSxcHD0pOKuKb5oIT1XcxIoSKjNMww0z7SOZik3LUI5g&s=10');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px; /* Adding rounded corners */
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 200px;
  }

.background-size-box {
    background-color: #add8e6;
    background-image: url('https://edube.org/uploads/media/default/0001/04/flowers-banner.png');
    background-size: cover; /* Ensuring the background covers the entire element */
    background-clip: border-box; /* Defines how far the background extends */
    padding: 30px;
    border: 5px solid black;
    margin: 20px;
  }

div {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Adds a shadow to give a 3D effect */
    width: 200px; /* Sets the width of the div */
    height: 100px; /* Sets the height of the div */
    background-color: lightgray; /* Sets the background color */
    margin: 50px; /* Adds space around the div */
    text-align: center; /* Centers the text horizontally */
    line-height: 100px; /* Centers the text vertically */
  }